{
  "name": "mqttRetainedMessageRetriever",
  "version": "0.0.1",
  "location": "https://github.com/...",
  "author": "Yasuki Ikeuchi",
  "description": "",
  "domain": "myapp-EyuoxGem.com",
  "stages": {
    "pro": [
      {
        "region": "us-east-1",
        "iamRoleArnLambda": "arn:aws:iam::XXXXXXXXXXXX:role/pro-mqttRetainedMessageRetriever-r-IamRoleLambda-XXXXXXXXXXXXX",
        "iamRoleArnApiGateway": "arn:aws:iam::XXXXXXXXXXXX:role/pro-mqttRetainedMessageRetriever-IamRoleApiGateway-XXXXXXXXXXXX",
        "jawsBucket": "jaws.pro.useast1.myapp-eyuoxgem.com",
      }
    ]
  }
}
